body{
    background-image: linear-gradient(122deg,#5aaefd,rgb(250, 239, 143)) ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;     
}
header{
    background-image:linear-gradient(122deg,#d7b37a,rgb(66, 41, 123)) ;
    padding: 20px; 
    text-align: center;
    font-size: 3em;
    margin-bottom: 1rem;
}

.allofit{
    height: fit-content;
}

.top-section{
    display: flex;
    flex-direction: row;
}
.ajax-section{
    background-color:rgb(250, 239, 143);   
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.main-card{
    display:flex;
    padding: 1rem;
}

.card-heading{   
    background-color: #5aaefd;
    padding: 1rem;
    border-radius: 5px;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(210, 132, 132);
    border-radius: 5px;
}
.date{
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.list-group{
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.list-group-item{   
    background-color: #6d98bf;
    margin: .5rem;
    border-radius: 5px;
}
.list-group-item:hover{   
    cursor: pointer;
}



h1{
    text-align: center;
    color: rgb(191, 237, 244);

}
#hometown{
    text-align: center;
    margin: 2rem;
    color:rgba(6, 54, 90, 0.979);
}

.uv-index-color{
    border-radius: 5px;
    padding: 1px;
}

.five-day-cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.five-day-card{
    background-color: blueviolet;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 3rem;
    color:rgb(250, 239, 143);
}

.five-day-info{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px){
   .top-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 
   .five-day-cards{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    align-items: center;
   }
}


@media screen and (max-width: 420px) {
    .main-card{
        flex-direction: column;
    }
}





