body{
    background-image: linear-gradient(122deg,#5aaefd,rgb(250, 239, 143)) ;
    background-repeat: no-repeat;  
}

.allofit{
    height:100vh;
}
.list-group{
    display: flex;
    flex-direction: column;
    width: 10rem;
}



h1{
    text-align: center;

}

.main-card{
    display:flex;

}




